/* Reset default styles */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.back {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #007bff;
}

.main {
    width: 100%; /* Adjust width to fit mobile screens */
    padding: 20px;
    text-align: center;
}

.image {
    width: 100%;
    max-width: 100%; /* Ensure images don't exceed screen width */
    margin-bottom: 20px;
}

.imagef2lab {
    width: 100%;
    max-width: 100%; /* Ensure images don't exceed screen width */
    margin-bottom: 20px;
}

.form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    margin-bottom: 10px;
    width: 100%; /* Make inputs full width */
}

button {
    margin-top: 10px;
    width: 100%; /* Make button full width */
}
